* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 60rem
}

.options {
  top: 3rem;
  position: relative;
  display: flex;
  gap: 2rem;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border: solid black;
  top: 5rem;
  width: 30rem;
  height: 30rem;
}

.controls {
  display: flex;
  position: relative;
  top: 4rem;
  gap: 2rem;
}

.bar {
  border: solid black;
  display: flex;
  width: 15rem;
  height: 2rem;
  position: relative;
  top: 7rem;
  border-radius: 15px;
  justify-content: space-evenly;
  gap: 0.1rem;
}

.bar div {
  background-color: green;
  width: 1.4rem;
  height: 1.7rem;
}

.rightbar {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: -1px;
}

.leftbar {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: -1px;
}

.note {
  position: relative;
  top: 8rem;
  font-size: 10rem;
}

.fretboardimage {
  width: 50rem;
  position: relative;
  top: 5rem;
}

.hidden.fretboardimage {
  visibility: hidden;
}

